/*@media screen and (min-width: 480px) {*/
body {
  /*font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-family: Arial;
  /*font-size: 12px !important;*/
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;      
}
tr.custom-border > td {
  border-bottom: 2px solid #000 !important; /* Your desired border color */
}

  .modal {
      background: rgba(0, 0, 0, 0);
  }
  .modal-open .modal {
      overflow-x: hidden;
      overflow-y: none !important;
  }

.borderTo{
  border-top:solid rgb(15, 178, 80);
}
/*.numberOfRoom:hover .wrapping-discount{
  display: block;
}*/
.wrapping-discount{
    display: none;
    padding: 7px;
    border: solid 1px #ddd;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 8px 2px #ddd;
    border-radius: 6px;
}
button.arrow-down:before {
     font-family: 'Glyphicons Halflings';
     float: right;
     content: "\e080";
     transition: all 0.5s;
     font-size: 8px;
  }
  .open button.arrow-down:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
  }

.btn.btn-acc{
    color: #3c8dbc;
    background: -webkit-linear-gradient(#ffffff,#e6eaec);
    background: -webkit-linear-gradient(#ffffff, #e6eaec);
    background: linear-gradient(#ffffff,#e6eaec);
    transition: color 0.5s ease;
}
.btn.btn-acc:hover{
    color: #0a5784 !important;
    transition: color 0.5s ease;
}
.notify-message div.alert.success{
  color: #46b101;
    border-color: #46b101;
    background-color: #00a65a08;
}
.notify-message div.alert.success i.fa{
  color: #00d071;
}
.notify-message div.alert.warning{
  color: #ab6a03;
  border-color: #f39c12;
    background-color: #f39c1205;
}
#message div.alert.warning i.fa{
  color: #f39c12;
}

.tabs-left > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a {
    min-width: 74px;
    color: #999;
    margin-right: 0;
    border-radius: 0px;
}
.tabs-left > .nav-tabs > li.active > a{
    border-right: none;
    border: 1px solid #fff;
}
a:focus a:focus, a:focus  img {
    color: #124964;
    -webkit-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30,140,190,.8);
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30,140,190,.8);
}


.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    /*border-right: 1px solid #ddd;*/
    background-color: #f4f4fb;
}


.custom-notif {
    right: -331px;
    display: none; 
    min-width: 25%;
    margin-right: 14px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(#000, 0.2);
    padding: 25px; 
    z-index: 999999999999999999999999;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
.custom-notif.active{
    display: inline-block;
    right: 0;
    opacity: 1;
}
  .close {
    position: absolute;
    font-size: 14px;
    color: #464646;
    top: 5px;
    right: 5px;
    opacity: 1;
  }

}
.notif-icon {
  display: inline-block;
  margin-right: 10px;
}

  .obs-wrapper-search ul li{
    padding: 5px 5px;
  }
  .obs-wrapper-search ul li.account_name, .obs-wrapper-search ul li{
    padding-left: 12px;
    border: solid 1px #ffff;
  }
  .obs-wrapper-search ul li.account_name:hover, .obs-wrapper-search ul li:hover{
    background: #ecf4ff;
    cursor: pointer;
    border: dotted 1px #999;
  }
/*}*/
.account-saction{
  background: #e8f1ff;
  border-radius: 0;
  border: 1px solid #ddd;
  /*border-bottom-width: 0!important;*/
}
.scrolTourFeasility{
  max-height: 454px;
  overflow: auto;
}
.checkMebox label{
  cursor: pointer;
  font-weight: 400;
}
.checkMebox label input{
  opacity: 0;
}
.checkMebox label i.fa {
  font-size: 18px;
  position: absolute;
  color: #00a65a;
}
.checkMebox label i.fa-check-square-o.active, .checkMebox label i.fa-check-square-o.deactive,{
  display: none !important;
}



.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
  width: 16px;
  height: 16px;
}
.changeStatus i.fa-check-circle{
  color:#09b73f;
  font-size: 18px;
}
.changeStatus i.fa-warning{
  color:#fecd08;
  font-size: 16px;
}

#loadImage.open-uploadImage ul{
  display: block !important;
}
#loadImage.open-uploadImage ul li{
  cursor: pointer;
}
ul li.attachment.active{
    padding: 10px;
    box-shadow: inset 0 0 0 2px #fff, inset 0 0px 0px 7px #0073aa;
}
ul li.attachment.active .fa.fa-check{
  display: block !important;
  font-size: 19px;
  color: #0073aa;
  position: absolute;
  background: white;
  padding: 2px;
  right:2px;
  box-shadow:inset 0 0 0 0px #fff, inset 0 0px 0px 2px #0073aa;
  top:2px;
}
table#add_book_project thead tr th, table#add_book_project tbody tr td{
  /*vertical-align: middle;*/

}
.totalsize{
  font-size: 1.2em;
}
@media print {
  .col-md-6 {
      width:185px !important;
      float: left !important;
  }
  a[href]:after {
    content: none !important;
  }
  .clearfix{
    clear: both !important;
  }
  .col-md-1 {
      width: 73px !important;
  }
  .pcolor{
      color:red!important;
      color: rgba(0, 0, 0, 0) !important;
  }
  .hotel_voucher{
    width: 130px;
  }
  .hotel_booking{
    width: 160px;
  }
  .hotel_voucher_title{
    margin-left: 100px;
    font-size: 22px;
  }
  body{
    font-size: 11px !important;
  }

}
.btborder{
  text-transform: uppercase;
  border-bottom: solid 7px darkseagreen;
    /* padding: 2px; */
  border-image: url(https://www.w3schools.com/css/border.png) 30 stretch;
}

.pcolor{
  color: brown !important;
  /*color: rgba(0, 0, 0, 0) !important;*/
}

.disable-field{
  background-color: #ffffff14 !important;
  border-color: #ecf0f5 !important;
}
.windowbg{
background-color: #f6f6f6;
}
.checkbox label:after, .checkbox label:before{
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    width: 19px;
    height: 19px;
    top: -2px;
}

.addscrolling{
  max-height: 363px;
  overflow: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;  
}

.fa-check-square{
  font-size: 19px;
}
#media-item li{
  padding: 0px;
  float: left;
  margin: 11px 5px;
}
.selected{
  border:solid 4px #169be8;
}

/*@media (min-width: 992px){
    .modal-lg {
        width: 1250px;
    }
}
@media (min-width: 768px){
  .modal-dialog {
      margin: 50px auto;
  }
}*/
/*@media (min-width: 768px){
  .col-sm-2 {
      width: 13.666667%;
  }
}*/
#wrap-gallery-image ul li .fa{
    top: 6px;
    position: absolute;
    right: 6px;
    color: #bc0b0b;
    background: white;
    font-size: 17px;
    display: block!important;
    cursor: pointer;
    text-align: right;
}
#wrap-gallery-image ul{
  padding-left: 0px;
}
#wrap-gallery-image ul li img{
  width: 100%;
  /*height: 100px;*/
}
#wrap-gallery-image ul li{
  float: left;
  position: relative;
    padding: 6px;
    width: 50%;
    list-style: none;
}
.seleted-img ul{
    padding-left: 21px;
    border-left: solid #ddd 1px;
    margin-left: 11px;
}
.seleted-img ul li {
    float: left;
    list-style: none;
    width: 55px;
    padding-right: 2px;
}
.seleted-img ul li img{
    width: 40px;
    height: 38px;
    width: 100%;
    padding: 1px;
    box-shadow: inset 0 0 0 0px #fff, inset 0 0px 0px 2px #0073aa;

}

#reMoveImageFileUPloaded{
    display: inline;
    padding: 0;
    color: #bc0b0b;
    padding: 0px;
    background: transparent;
    border: oldlace;
}
#btnImageFileUPloaded:hover, #wrap-feature-image.open-img .fa:hover{
  color: #f10000;
}
#wrap-feature-image{

}
#wrap-feature-image.open-img img{
  display: block !important;
  cursor: pointer;
}
#wrap-feature-image.open-img .fa{
    top: 0;
    position: absolute;
    right: 0px;
    color: #bc0b0b;
    background: white;
    font-size: 20px;
    display: block!important;
    cursor: pointer;
}

#preview-item-side{
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  padding: 12px;
  min-height: 425px;
}
.open .obs-wrapper-search{
  display: block !important;
}
.obs-wrapper-search{
  background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    position: absolute;
    width: 100%;
    left: 0px;
    padding: 8px;
    display: none;
    z-index: 1000;
}
.ob-search{
  /*padding:6px 8px;*/
}
.dropdown-data{    
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    max-height: 169px;
    overflow:auto;
    font-size: 14px;
    text-align: left;
    list-style: none;  
}
table#roomrate tr>td{
  padding:2px;
}
table.table-padding tr>td{
  padding: 5px;
}
ul#roomrate{
  width: 100%;
}
ul#roomrate li{
  display: inline-block;
  padding: 12px 12px;
  background: blue;
}
.checkRoom{
  position: absolute;
  margin:3px 2px 0px !important;
  opacity: 0.0;
}
.connectedSortable input{
  /*font-size: 14px;*/
}
.check{
  font-size: 20px!important;
  position: absolute;
  color: #4CAF50;
}
#checkStatus{
  font-size: 20px;
  position: absolute;
  color: #4CAF50;
}
#container_category label:hover #checkStatus{
  color: #ddd;
}
.fa-check-square:before{
  top: -1px;
  font-size: 18px;
  position: relative;
}
.nocheck{
  font-size: 20px !important;
  position: absolute;
  color: #4CAF50;
}
.text-shadow {
  text-shadow: 0 1px 0 #fff;
}
#name{
    position: absolute;
    top: -8px;
    left: 43px
}
table#applyroom tbody td{
  padding:5px 15px 5px 5px;
}
label.location{
  display: inline-block;
}
label.location span.fa-map-marker{
    color: #FF9800;
    font-size: 22px;
    position: absolute;
    left: 74px;
    top: 4px;
}
label select.form-control{
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
  border-radius: 50px;
}
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
	color: #fff !important;
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
  color: #fff !important;
  background-color: #3c8dbc !important;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
table.datatable  tbody > tr > td, table.table  tbody > tr > td {
  /*text-transform: uppercase;*/
  /*color: darkgreen;*/
}
table#hotel-rate input.text-center:before{
  content: "\f236";
  display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

table#hotel-rate input.text-center{
  /*font-size: 15px;*/
  color: #986451;
  font-weight: 600;
}

table.datatable thead th{
	background: -webkit-linear-gradient(top, #ffffff, #cccccc);
	border-right: 1px solid #fff;
	padding: .3em;
  margin: .1em;
  vertical-align: middle;
  text-shadow: 0 1px 0 #fff;
}
/*table.table tbody td{
	vertical-align: middle;
}*/
.main-header .navbar{
	color: white;
}
.border{
	padding-bottom: 8px;
	border-bottom: solid 2px #3c8dbc;
	color: #3c8dbc;
}
/*.table-hover>tbody>tr:hover{
  background-color: #d2d6de !important;
}
*/
.icon-list {
    cursor: pointer;
    margin: 0;
    margin-left: .2em;
    padding: 0 !important;
    width: 17px;
    height: 17px;
    background-image: url(/img/icon/icon.png) !important;
    background-repeat: no-repeat !important;
    background-position: top left !important;
}
.ic_del_drop{
  background-position: 0 -254px !important;
}
.ic_del_net{
  background-position: 0 -1942px !important;
}
.ic_delpro_drop{
  background-position: 0 -271px !important;
}
.ic_priew_drop{
  background-position: 0 -577px !important;
}
.ic_invoice_drop{
  background-position: 0 -177px  !important;
}
.ic_invoice_add{
  background-position: 0 -428px !important;
}

.ic_invoice_credit{
  background-position: 0 -484px  !important;
}

.ic_edit{
  background-position: 0 -10px !important;
}

.ic_book_add, .ic_tour_addprice{
  background-position: 0 -235px !important;
}

.ic_inclusion{
  background-position: 0 -195px !important;
}
.ic_book_project, .ic_edit_tour{
	background-position: 0 -10px !important;	
}
/*for operation options*/
.ic_ops_program{
  background-position: 0 -271px  !important;
}
.ic_entrance_fee{
  background-position: 0 -158px !important;
}
/*.ic_invoice_credit{
  background-position: 0 -2208px !important;
}*/
.ic_restuarant{
  background-position: 0 -137px !important;
}
.ic_transport{
  background-position: 0 -94px !important;
}
.ic_guide{
  background-position: 0 -115px !important;
}
.ic_golf{
  background-position: 0 -53px !important;
}
.ic_misc{
  background-position: 0 -31px !important;
}
.ic_remove{
	background-position: 0 -2725px !important;
}
.ic_active{
  background-position: 0 -2949px !important; 
}
.ic_inactive{
  background-position: 0 -2934px !important;  
}

.ic_tour_editprice{
  background-position: 0 -409px !important;  
}
.ic_report_selling, .ic_report{
  background-position: 0 -390px !important;    
}
.ic_report_net{
  background-position: 0 -390px !important; 
}
.ic_user_permission{
  background-position: 0 -2758px !important;
}
.ic_roomApply{
   background-position: 0 -373px !important; 
}


.ic_status{
  background-position: 0 -2949px !important; 
}
.ic_view_report{
  background-position: 0 -373px !important; 
}
.ic_edit_hprice{
  background-position: 0 -558px !important;  
}
.ic-trash{
  background-position: 0 -870px !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  /*padding: 5px;*/
  /*line-height: 1.428571429;*/
  vertical-align: middle;
  border-top: solid 1px #ddd;
}
table.operation-sheed tr td{
  vertical-align: middle !important;
  border-top: 1px solid #ddd;
}

.modal-header{
  background: -webkit-linear-gradient(top, #ffffff, #eee) !important;
  border-bottom-color: #dddd !important;
}
table tbody tr.header-row{
  background-color:#f4f4f4;
  
}
table tbody tr.header-row th{
  border-top: solid 1px #ddd;
}
@media (min-width: 1200px) {
  .acc_no-padding{
    width: auto;
  }
}



.container-CheckBox {
    display: block; 
    position: relative;
    font-weight: 400;
    padding-left: 23px;
    /*margin-bottom: 11px;*/
    cursor: pointer;
    /*font-size: 19px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-CheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -3px;
    border: solid 1px #4CAF50;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-CheckBox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-CheckBox input:checked ~ .checkmark {
  background-color: #4CAF50;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-CheckBox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-CheckBox .checkmark:after {
left: 5px;
    top: 0px;
    width: 4px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}